body {
	font-family: "Helvetica Neue";
	max-width: 50%;
	margin: 2rem auto;
	padding: 0 1rem;
    background-color: #121212;
    color:#b3b3b3;
}

.song {
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    background: #1f1f1f;
}

.song-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

strong {
    color: #fff;
}

.duration {
    margin-left: auto;
}